/*for the navigation bar*/
.navBar {
    width: 390px;
    height: 40px;
    margin-top: 0;
    padding: 0;
    background-color: gray;
}
.navButton {
    width: 130px;
    height: 40px;
    float: left;
    text-align: center;
    display: block;
    color: snow;
    background-color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}
    .navButton:hover {
        background-color: navy;
    }