/*for the searching of new criteria*/
.SearchBarArea {
    width: 100%;
    margin-top: 10px;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: left;
    margin: 1px;
}
.SearchBar {
    height: 40px;
    width: 100%;
}
.SearchButton {
    width: 130px;
    height: 45px;
    margin: auto;
    color: snow;
    background-color: gray;
}
    .SearchButton:hover {
        background-color: navy;
    }

.linkbutton a{
    text-decoration: none;
    background-color: navy;
}

/*other stuff*/
#form1 {
    border-top: none;
    height: 302px;
}